# Updated July 27, 2012

DirectoryIndex index.php

<Files "config.php">
Require all denied
</Files>

<Files "common.php">
Require all denied
</Files>

<Files " get_year_range.php">
Require all denied
</Files>

# This prevents web browsers or spiders from seeing your .htaccess directives:
<Files .htaccess>
Require all denied
</Files>

# End of file
